<footer>

<div class="rounded-lg p-6 w-auto">
    <h2 class="text-2xl font-bold mb-2 text-shadow-glow">友情链接:
      <a href="https://chat6.chatxyz.online" target="_blank">GPT4 点击进入</a>
    </h2>
    <div style="position:fixed;bottom:0;left:0;">
      <img src="https://jiyuimg.wzjo2o.com/chatgpt_weixin.jpeg" alt="Image description" style="width:250px;height:250px;">
      <p>如果你觉得我们的服务有价值,请考虑打赏，帮助我们继续运营。谢谢!</p>
    </div>
</div>
<script defer data-domain="gpt.aifree.site" src="https://analytics.gptnb.xyz/js/script.js"></script>

</footer>