<footer>

<div class="rounded-lg p-6 w-auto">
    <h2 class="text-2xl font-bold mb-2 text-shadow-glow">友情链接:
      <a href="https://chat5.chatxyz.online" target="_blank">GPT4 点击进入</a>
    </h2>
</div>
<script defer data-domain="gpt.aifree.site" src="https://analytics.gptnb.xyz/js/script.js"></script>

</footer>
